In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [16, 4]

import seaborn as sns
sns.set_theme(palette="Set2")

In [2]:
df = pd.read_csv("incoming_orders.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63147 entries, 0 to 63146
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   delivery_date     63147 non-null  object
 1   date              63147 non-null  object
 2   time              63147 non-null  object
 3   client_name       63147 non-null  object
 4   order_direction   63147 non-null  object
 5   material_name     63147 non-null  object
 6   container_volumn  63147 non-null  float64
 7   date_time         63147 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.9+ MB

In [4]:
df.head()

,delivery_date,date,time,client_name,order_direction,material_name,container_volumn,date_time
0,2023-04-24T08:06:58.799Z,2023-04-24,08:06:58,STG Transport & Containerdienst GmbH,Abziehen,Sand 0-2,11.0,2023-04-24 08:06:58
1,2023-04-24T22:00:00.000Z,2023-04-24,22:00:00,STG Transport & Containerdienst GmbH,Abziehen,Sand 0-2,11.0,2023-04-24 22:00:00
2,2022-08-10T22:00:00.000Z,2022-08-10,22:00:00,STG Transport & Containerdienst GmbH,Abziehen,Erdaushub AVV-Nr.: 17 05 04,11.0,2022-08-10 22:00:00
3,2022-08-23T08:18:29.075Z,2022-08-23,08:18:29,STG Transport & Containerdienst GmbH,Leeren,Erdaushub AVV-Nr.: 17 05 04,11.0,2022-08-23 08:18:29
4,2022-08-24T05:08:17.343Z,2022-08-24,05:08:17,STG Transport & Containerdienst GmbH,Leeren,Erdaushub AVV-Nr.: 17 05 04,11.0,2022-08-24 05:08:17

In [5]:
# Assuming 'timestamp' is the column containing the irregular timestamps and 'value' is the column containing the volume data
df['date_time'] = pd.to_datetime(df['date_time'],format="%Y/%m/%d")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63147 entries, 0 to 63146
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   delivery_date     63147 non-null  object
 1   date              63147 non-null  object
 2   time              63147 non-null  object
 3   client_name       63147 non-null  object
 4   order_direction   63147 non-null  object
 5   material_name     63147 non-null  object
 6   container_volumn  63147 non-null  float64
 7   date_time         63147 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 3.9+ MB

In [7]:
df = df[['date','container_volumn']].copy()

In [8]:
df.isnull().sum()

date                0
container_volumn    0
dtype: int64

In [9]:
#df['container_volumn'] = df['container_volumn'].replace(0.0, pd.NA)

In [10]:
df.head()

         date  container_volumn
0  2023-04-24              11.0
1  2023-04-24              11.0
2  2022-08-10              11.0
3  2022-08-23              11.0
4  2022-08-24              11.0

In [11]:
df.shape

(63147, 2)

# df- data from 2021 till may 2023

In [12]:
df['date'] = pd.to_datetime(df['date'])
# Specify the specific date up to which you want the data
specific_date = pd.to_datetime('2023-05-31')

# Filter the DataFrame to keep data up to the specific date
df = df[df['date'] <= specific_date].copy()

In [13]:
df.shape

(61151, 2)

In [14]:
df.to_csv('incoming_till_may23.csv', index=False, encoding='utf-8-sig')