In [19]:
import pandas as pd
import numpy as np
#Libraries for plotting graps, bars and plots
import seaborn as sns
sns.set(style="darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
df = pd.read_csv("output_volume_forecasting_file_ready_new.csv", encoding='utf-8')
df.head()

,delivery_date,date,timestamp,client_name,order_direction,container_name_cleaned,material_name,container_volumn,volume_unit
0,2023-03-23T15:27:00.548Z,2023-03-23,15:27:00.548,Allgaier Containerservice,Stellen,3,gemischte Bau-/Abbruchabfälle,3,NaN
1,2023-03-28T15:14:29.000Z,2023-03-28,15:14:29.000,Allgaier Containerservice,Abziehen,3,gemischte Bau-/Abbruchabfälle,3,NaN
2,2023-01-13T07:46:26.750Z,2023-01-13,07:46:26.750,Allgaier Containerservice,Stellen,3,gemischt Abfälle zur Verwertung ( AzV ),3,NaN
3,2023-01-16T07:43:56.642Z,2023-01-16,07:43:56.642,Allgaier Containerservice,Abziehen,3,gemischt Abfälle zur Verwertung ( AzV ),3,NaN
4,2022-11-04T11:00:00.000Z,2022-11-04,11:00:00.000,Allgaier Containerservice,Stellen,3,Bauschutt,3,NaN

In [22]:
df.isna().sum()

delivery_date                 0
date                          0
timestamp                     0
client_name                  38
order_direction               0
container_name_cleaned        2
material_name                 1
container_volumn           8979
volume_unit               32048
dtype: int64

In [23]:
df=df[['delivery_date','date','timestamp','client_name','order_direction','material_name','container_volumn','volume_unit']]

In [24]:
df.isna().sum()

delivery_date           0
date                    0
timestamp               0
client_name            38
order_direction         0
material_name           1
container_volumn     8979
volume_unit         32048
dtype: int64

In [25]:
df['container_volumn'].unique()

array(['3', '4', '5', '7', '10', '11', '12', '15', '17', '19', '21', '22',
       '30', '36', '40', '44', '307', '891', '1000', '8011', '8012',
       '8013', nan, '13', '60', '72', '20', '6', '0,22', '1', '1,1',
       '1,25', '1,5', '1,7', '10,0', '1010', '1020', '1030', '1040',
       '1060', '11,0', '12,0', '13209', '14,01', '14', '15,0', '152',
       '16', '18', '2', '2,0', '2,5', '2,50', '2,7', '2,75', '27', '20,0',
       '2010', '2020', '2030', '1.46667', '25', '28', '28,0', '24', '80',
       '3,0', '3,5', '3,6', '317', '33', '34', '35', '37', '38', '4,5',
       '65', '485', '5,0', '5,4', '5,5', '50', '51', '55', '6,8', '68',
       '7,0', '7,5', '8', '8,0', '8,00', '81', '9', '90', '36,0', '10,6',
       '12,5', '61', '39', '120', '240', '04', '05', '07', '23', '26',
       '52', '53', '54', '08', '41', '200', '601', '9,0', '9,5', '13201',
       '13202', '13203', '13204', '13205', '13206', '13207', '13208',
       '13210', '13211', '13212', '13235', '13238', '13239', '13240',
       '13245', '13249', '13250', '13263', '13283', '8002', '8003',
       '8004', '8005', '8006', '8007', '8010', '8014', '8015', '8019',
       '8020', '8024', '8025', '8050', '8052', '8055', '8059', '8079',
       '8092', '8093', '8094', '8095', '8096'], dtype=object)

In [26]:
df['volume_unit'].unique()

array([nan, 'm³', 'cbm', 'm3', 'm²', 'qbm'], dtype=object)

In [27]:
df.isna().sum()

delivery_date           0
date                    0
timestamp               0
client_name            38
order_direction         0
material_name           1
container_volumn     8979
volume_unit         32048
dtype: int64

In [28]:
# Assuming you have a DataFrame called 'df' and a column named 'column_name'
df.dropna(subset=['volume_unit'], inplace=True)

In [29]:
df.isna().sum()

delivery_date        0
date                 0
timestamp            0
client_name         31
order_direction      0
material_name        1
container_volumn     0
volume_unit          0
dtype: int64

In [30]:
df['container_volumn'].unique()

array(['11', '13', '36', '60', '72', '10', '15', '17', '20', '3', '4',
       '40', '5', '6', '7', '1', '1,1', '1,25', '1,5', '10,0', '11,0',
       '12', '12,0', '14', '15,0', '16', '18', '2', '44', '2,0', '2,5',
       '27', '20,0', '21', '22', '1.46667', '25', '28', '28,0', '24',
       '80', '30', '3,0', '3,5', '3,6', '33', '34', '35', '37', '38',
       '4,5', '65', '5,0', '5,4', '5,5', '68', '7,0', '7,5', '8', '8,0',
       '8,00', '9', '90', '36,0', '12,5', '61', '39', '50', '05', '07',
       '08', '55'], dtype=object)

In [31]:
df.shape

(139932, 8)

In [32]:
# Assuming you have a DataFrame called 'df' and a column named 'column_name'
df.dropna(subset=['client_name'], inplace=True)

In [33]:
# Assuming you have a DataFrame called 'df' and a column named 'column_name'
df.dropna(subset=['material_name'], inplace=True)

In [34]:
df.shape

(139900, 8)

In [35]:
df['container_volumn'].unique()

array(['11', '13', '36', '60', '72', '10', '15', '17', '20', '3', '4',
       '40', '5', '6', '7', '1', '1,1', '1,25', '1,5', '10,0', '11,0',
       '12', '12,0', '14', '15,0', '16', '18', '2', '44', '2,0', '2,5',
       '27', '20,0', '21', '22', '1.46667', '25', '28', '28,0', '24',
       '80', '30', '3,0', '3,5', '3,6', '33', '34', '35', '37', '38',
       '4,5', '65', '5,0', '5,4', '5,5', '68', '7,0', '7,5', '8', '8,0',
       '8,00', '9', '90', '36,0', '12,5', '61', '39', '50', '05', '07',
       '08', '55'], dtype=object)

In [36]:
df.to_csv('op.csv', index=False, encoding='utf-8-sig')

In [37]:
df.head()

,delivery_date,date,timestamp,client_name,order_direction,material_name,container_volumn,volume_unit
2504,2023-05-10T05:41:28.000Z,2023-05-10,05:41:28.000,STG Transport & Containerdienst GmbH,Stellen,Sand 0-2,11,m³
2505,2023-04-24T08:06:58.799Z,2023-04-24,08:06:58.799,STG Transport & Containerdienst GmbH,Abziehen,Sand 0-2,11,m³
2506,2023-04-24T22:00:00.000Z,2023-04-24,22:00:00.000,STG Transport & Containerdienst GmbH,Abziehen,Sand 0-2,11,m³
2507,2022-09-14T10:00:00.000Z,2022-09-14,10:00:00.000,STG Transport & Containerdienst GmbH,Materiallieferung,Sand 0-2,11,m³
2508,2022-09-14T10:00:00.000Z,2022-09-14,10:00:00.000,STG Transport & Containerdienst GmbH,Materiallieferung,Sand 0-2,11,m³